#pragma once

{% if use_string_view %}#include <string_view>{% endif%}

{% if use_string_view %}
    static constexpr std::string_view {{variable_name}} = 
{%else%}
    static constexpr char {{variable_name}}[] = 
{% endif %}R"sdXcAsfFert({{data}})sdXcAsfFert";